@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Calistoga&family=Dancing+Script&family=Noto+Serif+Lao:wght@300&display=swap');


body {
    margin: 0;
    font-family: "Noto Serif Lao", serif;
}

.sectionTitle {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sectionTitle .title {
    font-size: 4.5rem;
    font-family: "Cabin Sketch", sans-serif;
    margin-right: 2rem;
}

.sectionTitle .img {
    height: 100%;
    width: 50%;
}

.mainGrid {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    align-self: center;
    padding: 20px;
}

.mainGrid > div {
    padding-top: 10px;
}

p {
    color: black;
    font-family: "Noto Serif Lao", sans-serif;
    font-size: 1rem;
    margin: 0;
    margin-top: 2%;
}

#bookimage {
    height: 20rem;
    width: 13rem;
    box-shadow: 0px 4px 4px rgba(114, 94, 84, 0.5);
    border-radius: 0.625rem;
}

a {
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgba(114, 94, 84, 0.5)
}

.editLink {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    border: 1px solid black;
    background-color: black;
    border-radius: 0.625rem;
    color: white;
}

.editLink:hover {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 0.625rem;
    color: black;
}
