{% extends "base.html" %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href={% static "css/list.css" %} />
{% endblock extrahead %}

{% block title %}All Books{% endblock title %}

{% block content %}
<main>
    <div class="sectionTitle">
        <img src="{% static "images/books.jpeg" %}" class="img" />
        <h1 class="title">Books I've read</h1>
    </div>
    <div class="maincontainer">
        {% for book in book_list %}
        <div class="bookContainer">
            <img src="{{ book.picture }}" id="bookimage" />
            <p>Started on: {{ book.started }}</p>
            <p>Finished on: {{ book.finished }}</p>
        </div>
        {% empty %}
        <p>You haven't added any books</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}
